<!DOCTYPE html>
<html>

<head>
    <title>Contact Me</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p> <b>Contact Numbers</b> : {{contactNumber1}} / {{contactNumber2}}</p>
        <p> <b>Email</b> : {{email}}</p>
    </div>

{{>footer}}

</body>

</html>